body, ul {
    margin: 0;
    padding: 0;
}

/*.wrapper {*/
    /*padding: 10px;*/
    /*margin: 10px auto;*/
/*}*/
/*.image, .name {*/
    /*border: 1px solid #000;*/
    /*margin: 10px;*/
/*}*/

/*img, .wrapper div {*/
    /*width: 200px;*/
/*}*/

/*.item {*/
    /*display: inline-block;*/
/*}*/

/*.name > a {*/
    /*display: block;*/
    /*text-align: center;*/
/*}*/

/*.name > a:hover {*/
    /*background-color: azure;*/
/*}*/

ul, li {
    list-style-type: none;
}
img {
    width: 100%;
}
li {
    display: inline-block;
    width: 200px;
    color: aquamarine;

}

ul {
    text-align: center;
}

a {
    display: block;
    text-align: center;
    padding: 5px 0 5px;
    transition: background-color 1s;
}

.item:hover > a {
    background-color: #ffff34;
}

/*a:hover {
    background-color: aquamarine;
}*/

@media screen and (max-width: 1220px) {
    ul {
    width: 610px;
    }
}
