body {
    margin: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: gold;
}

/*div {
    border: 1px solid #000;
}*/

.right {
    float: right;
    width: 300px;
    min-height: 600px;
    background-color: blanchedalmond;
}

.logo, .topmenu, .footer {
    background-color: yellow;
}

.left {
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.item {
    float: left;
    width: 45%;
    margin: 2.5%;
    min-height: 200px;
    background-color: #b5dba6;
}

.button1,
.button2 {
    float: left;
    background-color: #db8258;
    width: 25%;
    min-height: 40px;
    margin-top: 50px;
}

.button1 {
    margin-left: 40%;
    margin-right: 5%;
}